.chem-element {
    background: rgba(255, 163, 163, 0.09);
    border-radius: 0.25em;
    box-shadow: 0 0 0.1em 0.1em rgba(0, 0, 0, 0.05);
    color: #fff;
    margin-left: -0.35em;
    margin-right: -0.25em;
    padding: 0.2em 0.1em 0.2em 0.35em;
    transition-duration: 0.5s;
}

.chem-element:hover {
    box-shadow: 0 0 0.2em 0.2em rgba(255, 255, 255, 0.05);
}


.chem-element[data-element="neon"]::before {
    content: '10';
    font-size: 0.45em;
    vertical-align: -0.5em;
}

.chem-element[data-element="neon"]:hover {
    background: #faa3a3;
}
