.footer.fab, .footer .fas, .footer .far {
    text-align: center;
    width: 1.25em;
}

.copyright {
    background: #354c64;
    color: #aaa;
    font-size: 0.9em;
    line-height: 2em;
    padding: 0.5em 1em;
}

.hosting {
    background: #354c64;
    color: #ddd;
    font-size: 0.9em;
    font-weight: normal;
    display: block;
    padding: 0.75em 1em;
    text-decoration: none;
}

.hosting .link {
    color: #acd;
}
