.header {
    background: rgba(0, 0, 0, 0.075);
    // box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, 0.125); 
    // margin-top: -3.2em;
    padding-top: 1.6em;
    padding-bottom: 1.4em;
}

.header .split {
    padding: 0 1em;
}

.header .name {
    color: #f5f5f5;
    display: inline-block;
    font-weight: 300;
    line-height: 1.25em;
    margin: 0.25em 0;
    margin-right: 0.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,.25);
}

.header .name .chem-element {
    text-decoration: none;
}

.header .name::after {
    bottom: 0em;
    color: #aaa;
    display: inline-block;
    font-size: 0.5em;
    position: relative;
}

.header .name.lang-cn::after {
    content: 'zh-CN';
}

.header .name.lang-en::after {
    content: 'en-US';
}

.header .name.lang-ja::after {
    content: 'ja-JP';
}

.header .picture {
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
    padding: 3%;
    width: 94%;
}

.header .picture-container {
    padding: 2em;
}
