.section.header {
    align-items: center;
    display: flex;
}

@media (max-width: 768px) {
    .section.header {
        flex-direction: column;
    }
}

.section.header .split {
    padding: 0 1em;
}

.section.header .name {
    color: #f5f5f5;
    display: inline-block;
    font-weight: 300;
    line-height: 1.25em;
    margin: 0.25em 0;
    margin-right: 0.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.section.header .name .chem-element {
    text-decoration: none;
}

.section.header .name::after {
    bottom: 0em;
    color: #aaa;
    display: inline-block;
    font-size: 0.5em;
    position: relative;
}

.section.header .name.lang-cn::after {
    content: 'zh-CN';
}

.section.header .name.lang-en::after {
    content: 'en-US';
}

.section.header .name.lang-ja::after {
    content: 'ja-JP';
}

.section.header .picture {
    background: white;
    border: 0.5em solid white;
    border-radius: 50%;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, 0.15);
    display: block;
    overflow: hidden;
}

.section.header .picture img {
    box-sizing: content-box;
    height: 100%;
    width: 100%;
}

.section.header .picture-container {
    padding: 2em;
}
