figure.identities {
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.05);
    margin: 0.75em 0;
}

figure.identities:last-child {
    border-bottom: none;
}

figure.identities figcaption {
    color: #777;
    line-height: 2em;
    padding: 0 0.25em;
}

figure.identities figcaption i {
    font-size: 1.21em;
    margin-right: 0.5ch; /* margin from mystery space after identity brand icons */
    text-align: center;
    width: 1.5em;
}

figure.identities ul {
    margin: 0;
    padding: 0;
}

figure.identities ul li {
    display: block;
    list-style: none;
    margin: 0.5em 0;
}

figure.identities ul li a {
    color: #333;
    display: block;
    font-size: 1.1em;
    line-height: 1.75em;
    padding: 0.5em 0.25em;
    text-decoration: none;
    transition-duration: .25s;
}

figure.identities ul li a:hover {
    background-color: rgba(1, 105, 124, .01);
    box-shadow: inset 0 -0.5em 0.5em -0.5em rgba(1, 105, 124, .1);
}

figure.identities ul li a i {
    font-size: 1.1em;
    text-align: center;
    width: 1.5em;
}

figure.identities ul li a .fake-link {
    color: #317589;
    float: right;
}

/* shutdown */

figure.identities ul li.shutdown a {
    cursor: not-allowed;
    text-decoration: line-through;
}

figure.identities ul li.shutdown a:hover {
    box-shadow: inset 0 -0.5em 0.5em -0.5em #C93756;
    color: #ddd;
}

figure.identities ul li.shutdown a .fake-link {
    text-decoration: line-through;
    transition-duration: .25s;
}

figure.identities ul li.shutdown a:hover .fake-link {
    color: #ddd;
}
