.intro {
    margin: 1.5em 0;
    padding: 1em 0;
}

.intro .block .split {
    padding: 0 1em;
}

.intro h2 {
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 2em;
    margin: 0;
}

.intro h2 i.fa {
    margin: 0.25em;
    text-align: center;
    width: 1em;
}

.intro p {
    color: #555;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.75em;
    margin: 1em 0;
    overflow: auto;
    padding: 0.5em 0.5em;
}

.intro .label-group {
    border-bottom: .1em solid rgba(0,0,0,.05);
    display: block;
    margin-top: 3em;
    width: 100%;
}

.intro .label-group:last-child {
    border-bottom: none;
}

.intro .label-group .header.alt {
    color: #777;
    font-size: 1em;
    padding: 0 0.25em;
}

.intro .label-group .header.alt .fa-tag {
    font-size: 1.21em;
    margin-right: 0.5ch;
    text-align: center;
    width: 1.5em;
}

.intro .label-group .label {
    background: transparent;
    box-shadow: none;
    margin: 0.25em 0.25em;
    padding: 0 0.25em;
    transition-duration: .5s;
}
