.label-group {
    display: inline-block;
    margin: 1.25em 0;
    padding: 0 0.25em;
    position: relative;
}

.label-group .header {
    color: white;
    display: block;
    font-size: 0.8em;
    left: 0;
    padding: 0;
    position: absolute;
    text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.25);
    top: -1.75em;
}

.label-group .header.alt {
    color: #333;
}

.label-group .label {
    background: #eee;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, 0.1);
    color: #333;
    display: inline-block;
    line-height: 2.2em;
    margin: 0.25em 0;
    padding: 0 0.5em;
}

.label-group a.label {
    text-decoration: none;
}

.label-group .label i {
    font-size: 1.2em;
    margin-right: 0.25em;
    vertical-align: -0.05em;
}
