.header {
    background: rgba(71, 102, 133, 0.99);
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, 0.125); 
    padding-bottom: 1.6em;
    padding-top: 1.6em;
}

.header .greeting {
    color: #f5f5f5;
    font-weight: 300;
    line-height: 1.6em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,.25);
}

.header .picture {
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
    display: block;
    padding: 3%;
    width: 94%;
}

.header .picture-container {
    padding: 2em;
}
