.identity {
    border-bottom: 0.15em solid rgba(0, 0, 0, 0.035);
    display: block;
    line-height: 1.2em;
    margin: 0.4em auto;
    padding: 0.4em;
    position: relative;
    width: 90%;
}

.identity a {
    display: block;
    text-decoration: none;
}

.identity>*, .identity a>* {
    vertical-align: middle;
}

.identity .link {
    bottom: 0.5em;
    color: #216199;
    display: inline-block;
    position: absolute;
    right: 0.45em;
    text-align: right;
}

.identity .fab, .identity .fal, .identity .fas { 
    color: rgba(0, 10, 25, 0.65);
    font-size: 1.6em;
    text-align: center;
    width: 1.5em;
}

.identity .where {
    color: #333;
}

.identities {
    margin: 0;
    padding: 0;
}

.identity-category {
    background: rgba(255, 255, 255, 0.975);
    padding-bottom: 1.6em;
    padding-top: 1em;
}

.identity-category .title {
    font-weight: 300;
    line-height: 2em;
    margin: 0;
}

.identity-category .title .tag {
    font-size: 0.75em;
}

.identity-category .title .fal, .identity-category .title .far, .identity-category .title .fas {
    color: #aaa;
    margin: 0 0.2em;
    transform: rotateZ(-23deg);
}
