@import "fontawesome/fontawesome.scss";
@import "fontawesome/brands.scss";
@import "fontawesome/regular.scss";
@import "fontawesome/solid.scss";
@import "../../node_modules/unsemantic/assets/sass/unsemantic-grid-responsive.scss";

@import "footer.scss";
@import "header.scss";
@import "identities.scss";
@import "labels.scss";

@import "chem-elements.scss";

body {
    font-size: 1em;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    background: url('../images/nat-pants.png');
    background-position: center;
    font-family: "Helvetica Neue", Helvetica, Arial, PingFangTC-Light, "Microsoft YaHei", 微软雅黑, "STHeiti Light", STXihei, "华文细黑", Heiti, 黑体, sans-serif;
}

#container {
    background: url('../images/nat-pants-ng.png');
    background-position: center;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, 0.125);
    margin: 1.5em auto;
    max-width: 64em;
}

.no-wrap {
    display: inline-block;
}

$section-border-radius: 2em;

#container, #container>*:first-child {
    border-top-left-radius: $section-border-radius;
}

#container, #container>*:last-child, #container>*:last-child>*:last-child {
    border-bottom-right-radius: $section-border-radius;
}

.header .small-labels .group::before, .header .small-labels .label::before {
    color: #eee;
}

.identities .small-labels .group::before, .identities .small-labels .label::before {
    color: #333;
}